*{
    padding: 0px;
    margin: 0px;
    font-family: arial;
    }
    label, input{
    display: block;
    line-height: 30px;
    height: 30px;
    outline: none;
    font-size: 13pt;
    width: 100%;
    }
    form{
        width: 330;
        background-color:rgba(0, 0, 0,.2 );
        padding: 20px;
        margin: 30px auto;
    
    }
    input[type = "submit"]{
        margin-top: 10px;
        cursor:pointer;
    
    
    }
    #esquerda
    {
    width: 35%;
    height: 500px;
    float: left;
    
    }
    h2{
        text-align:center;
        
    }
    #direita
    {
        width: 35%;
        height: 500px;
        float: left;
    }
    
    table {
        background-color:rgba(0, 0, 0,.2 );
        width:90%;
        margin:30px auto;
    
    }
    tr{
        line-height: 30px;
    
    }
    tr #titulo{
        font-weight: bold;
        background-color: rgba(0, 0, 0,.6 );
        color: white;
    
    }
    td{
    padding: 0px 5px;
    
    
    }
    a{
        background-color: white;
        color: black;
        padding:5px;
        margin: 0px 5px;
        text-decoration: none;
    
    }